.array-container {
    position: relative;
    bottom:0px;
}
  
.array-bar {
    width: 150px;
    display: inline-block; 
    margin: 0 1px; 
}



.but button {
    background-color: #1c49db; 
    border: none;
    color: #eaf2f3;
    text-align: center;
    cursor: pointer;
    outline: 0;
    display: block;
    font: 15px "Century Gothic", Futura, sans-serif;
}

